
.table-content {

}

.mat-elevation-z8 {
  max-height: 80%;
  margin-left: 10%;
  overflow: scroll;
}

.table-content button {
  margin-bottom: 1%;

}

.example-form p {
  text-align: center;
  font-size: 14px;
}

.example-form mat-form-field {
  width: 80%;
  margin-left: 10%;
}

.action-button {
  padding: 5%;
  margin-left: 4%;
}

.action-button button {
  margin: 0 4%;
  width: 40%;
}

.mat-elevation-z8 td {

}

.modal-content {
  width: 200%;
}

a {

}
